<div class="post-card">
  <div class="post-card__header">
    <img
      class="post-card__avatar"
      [src]="post.author.avatar"
      [alt]="post.author.username"
      (click)="openProfile(post.author.id)"
    />

    <div class="post-card__user">
      <div class="post-card__top">
        <h4 class="post-card__name" (click)="openProfile(post.author.id)">
          {{ post.author.username }}
        </h4>

        <span class="post-card__date">
          {{ post.createdAt | date: "MMM d, HH:mm" }}
        </span>
      </div>

      <p class="post-card__email">
        {{ post.author.email }}
      </p>
    </div>
  </div>

  <div class="post-card__content">
    {{ post.content }}
  </div>

  <div class="post-card__actions">
    <button class="post-card__action">💬 Reply</button>
    @if (user$ | async; as user) {
      @if (user?.id === post.author.id) {
        <button class="post-card__delete" (click)="deletePost(post.id)">
          Delete
        </button>
      }
    }
  </div>
</div>
